@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 200s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(-1deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
}

